@media screen {
  .print {
    border: 1px solid black;
  }
}
.prints {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 1024px;
  margin: 0px auto;
}
.print {
  text-align:center;
  margin: 8px auto;
}

.print img {
  width: 70%;
  border-radius: 8px;
}

@media print {

  .print {
    padding: 0 8px;
    break-inside:avoid;
  }
  .prints {
    grid-template-columns: 33% 33% 33%;
    width: 100%;
  }
}